
<form id="form">
    <input type="text" id="name" name="name" placeholder="Name" required />
    <input type="text" id="msg" name="text" placeholder="Message" required />
    <button type="submit">Send</button>
</form>

